<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>No page found</title>
</head>
<body>

  <h1>404.</h1>
  <p>
    Page not found.<br>
    <a href="/">Go back home</a>
  </p>

</body>
</html>
